WpfSampleData/SampleData/Furniture/Furniture.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.Furniture" targetNamespace="Expression.Blend.SampleData.Furniture" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Furniture" type="tns:Furniture" />
  <xs:complexType name="Furniture">
    <xs:sequence>
      <xs:element name="Chairs" type="tns:Chairs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chairs">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChairsItem" type="tns:ChairsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChairsItem">
    <xs:attribute blend:Format="Price" name="Price" type="xs:string" />
    <xs:attribute blend:FormatParameters="6" name="SKU" type="xs:double" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Image" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>